In [1]:
%cd /Users/aripiralasrinivas/Data Science/repos/mlframework/src

/Users/aripiralasrinivas/Data Science/repos/mlframework/src

In [2]:
import pandas as pd
import numpy as np
import os
from utils import get_file_path, write_df, read_df

In [3]:
WORKING_DIR = '/Users/aripiralasrinivas/Data Science/repos/mlframework'

In [4]:
file_path= os.path.join(WORKING_DIR, 'input')
file_path

'/Users/aripiralasrinivas/Data Science/repos/mlframework/input'

In [5]:
train_path= get_file_path('train_dtype_treated.csv')
test_path = get_file_path('test_dtype_treated.csv')
train_path

'../input/train_dtype_treated.csv'

In [6]:
train_df = pd.read_csv(train_path)
test_df= pd.read_csv(test_path)

In [7]:
train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1.0,60,RL,65.0,8450.0,Pave,NaN,Reg,Lvl,AllPub,...,0.0,NaN,NaN,NaN,0.0,2,2008,WD,Normal,208500.0
1,2.0,20,RL,80.0,9600.0,Pave,NaN,Reg,Lvl,AllPub,...,0.0,NaN,NaN,NaN,0.0,5,2007,WD,Normal,181500.0
2,3.0,60,RL,68.0,11250.0,Pave,NaN,IR1,Lvl,AllPub,...,0.0,NaN,NaN,NaN,0.0,9,2008,WD,Normal,223500.0
3,4.0,70,RL,60.0,9550.0,Pave,NaN,IR1,Lvl,AllPub,...,0.0,NaN,NaN,NaN,0.0,2,2006,WD,Abnorml,140000.0
4,5.0,60,RL,84.0,14260.0,Pave,NaN,IR1,Lvl,AllPub,...,0.0,NaN,NaN,NaN,0.0,12,2008,WD,Normal,250000.0

In [8]:
train_df.shape

(1460, 81)

In [9]:
test_df.shape

(1459, 81)

In [10]:
train_df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [11]:

from utils import select_dtype_columns, select_dtype_df

cat_cols = select_dtype_columns(train_df, 'CATEGORICAL')
num_cols = select_dtype_columns(train_df, 'NUMERIC')
print(len(cat_cols), len(num_cols))

60 21

In [12]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   float64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   float64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   float64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   float64
 37  BsmtUnfSF      1460 non-null   float64
 38  TotalBsmtSF    1460 non-null   float64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   float64
 44  2ndFlrSF       1460 non-null   float64
 45  LowQualFinSF   1460 non-null   float64
 46  GrLivArea      1460 non-null   float64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   float64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   float64
 67  OpenPorchSF    1460 non-null   float64
 68  EnclosedPorch  1460 non-null   float64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   float64
 71  PoolArea       1460 non-null   float64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   float64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   float64
dtypes: float64(21), int64(17), object(43)
memory usage: 924.0+ KB

In [13]:
from feature_preprocessing import MissingValueImputer

In [14]:
mean_both_imputer = MissingValueImputer(strategy='IMPUTE', strategy_numeric='mean', feature_type='BOTH')
median_both_imputer = MissingValueImputer(strategy='IMPUTE', strategy_numeric='median', feature_type='BOTH')

In [15]:
drop_imputer = MissingValueImputer(strategy='DROP_FEATURES', feature_type='ALL', drop_feature_threshold=0.4)

In [16]:
train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1.0,60,RL,65.0,8450.0,Pave,NaN,Reg,Lvl,AllPub,...,0.0,NaN,NaN,NaN,0.0,2,2008,WD,Normal,208500.0
1,2.0,20,RL,80.0,9600.0,Pave,NaN,Reg,Lvl,AllPub,...,0.0,NaN,NaN,NaN,0.0,5,2007,WD,Normal,181500.0
2,3.0,60,RL,68.0,11250.0,Pave,NaN,IR1,Lvl,AllPub,...,0.0,NaN,NaN,NaN,0.0,9,2008,WD,Normal,223500.0
3,4.0,70,RL,60.0,9550.0,Pave,NaN,IR1,Lvl,AllPub,...,0.0,NaN,NaN,NaN,0.0,2,2006,WD,Abnorml,140000.0
4,5.0,60,RL,84.0,14260.0,Pave,NaN,IR1,Lvl,AllPub,...,0.0,NaN,NaN,NaN,0.0,12,2008,WD,Normal,250000.0

In [17]:
from utils import missing_values_table
missing_values_table(train_df)

Your selected dataframe has 81 columns.
There are 19 columns that have missing values.

              Missing Values  % of Total Values
PoolQC                  1453               99.5
MiscFeature             1406               96.3
Alley                   1369               93.8
Fence                   1179               80.8
FireplaceQu              690               47.3
LotFrontage              259               17.7
GarageType                81                5.5
GarageYrBlt               81                5.5
GarageFinish              81                5.5
GarageQual                81                5.5
GarageCond                81                5.5
BsmtExposure              38                2.6
BsmtFinType2              38                2.6
BsmtFinType1              37                2.5
BsmtCond                  37                2.5
BsmtQual                  37                2.5
MasVnrArea                 8                0.5
MasVnrType                 8                0.5
Electrical                 1                0.1

In [18]:
train_drop_imputed = drop_imputer.fit_transform(train_df)
print(train_drop_imputed.shape)
train_mean_imputed = mean_both_imputer.fit_transform(train_drop_imputed)
missing_values_table(train_mean_imputed)

Your selected dataframe has 81 columns.
There are 19 columns that have missing values.
Features not meeting the threshold 40.0 -
 ['PoolQC' 'MiscFeature' 'Alley' 'Fence' 'FireplaceQu']
(1460, 76)
Started Numerical mean imputation
Numerical Imputer is fit and completed the transformation
df shape is (1460, 76)
df shape is (1460, 76)
Your selected dataframe has 76 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [19]:
# train_drop_imputed = drop_imputer.fit_transform(train_df)
train_median_imputed = median_both_imputer.fit_transform(train_drop_imputed)
missing_values_table(train_median_imputed)

Started Numerical median imputation
Numerical Imputer is fit and completed the transformation
df shape is (1460, 76)
df shape is (1460, 76)
Your selected dataframe has 76 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [20]:
test_df['SalePrice']=-1.0
test_drop_imputed = drop_imputer.transform(test_df)
missing_values_table(test_drop_imputed)

Your selected dataframe has 76 columns.
There are 28 columns that have missing values.

              Missing Values  % of Total Values
LotFrontage              227               15.6
GarageYrBlt               78                5.3
GarageCond                78                5.3
GarageQual                78                5.3
GarageFinish              78                5.3
GarageType                76                5.2
BsmtCond                  45                3.1
BsmtQual                  44                3.0
BsmtExposure              44                3.0
BsmtFinType1              42                2.9
BsmtFinType2              42                2.9
MasVnrType                16                1.1
MasVnrArea                15                1.0
MSZoning                   4                0.3
BsmtFullBath               2                0.1
BsmtHalfBath               2                0.1
Utilities                  2                0.1
Functional                 2                0.1
GarageCars                 1                0.1
GarageArea                 1                0.1
BsmtUnfSF                  1                0.1
KitchenQual                1                0.1
TotalBsmtSF                1                0.1
BsmtFinSF2                 1                0.1
BsmtFinSF1                 1                0.1
Exterior2nd                1                0.1
Exterior1st                1                0.1
SaleType                   1                0.1

In [21]:
test_median_imputed = median_both_imputer.transform(test_drop_imputed)
test_mean_imputed = mean_both_imputer.transform(test_drop_imputed)
# test_imputed
missing_values_table(test_median_imputed)

df shape is (1459, 76)
df shape is (1459, 76)
Your selected dataframe has 76 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [22]:
print(train_mean_imputed.shape)
print(train_median_imputed.shape)
print(test_mean_imputed.shape)
print(test_median_imputed.shape)

(1460, 76)
(1460, 76)
(1459, 76)
(1459, 76)

In [23]:
from utils import write_df
write_df(train_mean_imputed, get_file_path('train_mean_imputed.csv'))
write_df(train_median_imputed, get_file_path('train_median_imputed.csv'))
write_df(test_mean_imputed, get_file_path('test_mean_imputed.csv'))
write_df(test_median_imputed, get_file_path('test_median_imputed.csv'))

writing to the path: ../input/train_mean_imputed.csv
writing to the path: ../input/train_median_imputed.csv
writing to the path: ../input/test_mean_imputed.csv
writing to the path: ../input/test_median_imputed.csv

In [24]:
1=2

SyntaxError: cannot assign to literal (<ipython-input-24-a0aef98f5518>, line 1)

In [ ]:
col_dtype_df = train_mean_imputed[select_dtype_columns(train_mean_imputed, dtype='CATEGORICAL')].info()
type(col_dtype_df)
# col_dtype_df[col_dtype_df.Dtype=='object']

In [ ]:
def select_dtype_columns(df, dtype='NUMERIC', sub_dtype='ALL'):
    """

    :param df:
    :param dtype:
    :param sub_dtype:
    :return:
    """

    if dtype == 'NUMERIC':
        return df.select_dtypes(include=NUMERICS_LIST).columns
    elif dtype == 'CATEGORICAL':
        # num_cols = df.select_dtypes(include=NUMERICS_LIST).columns
        if sub_dtype == 'ALL':
            cat_cols = df.columns[np.where(df.dtypes != np.float)[0]]
        elif sub_dtype == 'object':
            cat_cols = df.columns[np.where(np.logical_and((df.dtypes != np.float).values, (df.dtypes != np.int).values))[0]]
        elif sub_dtype == 'int':
            cat_cols = df.columns[np.where(df.dtypes == np.int)[0]]

        return df[cat_cols].columns
    elif dtype == 'ALL':
        return df.columns

In [ ]:
train_mean_imputed[select_dtype_columns(train_mean_imputed, dtype='CATEGORICAL', sub_dtype='int')].info()

In [ ]:
(train_df.dtypes != np.float).values
is_object = (train_df.dtypes != np.float).values or (train_df.dtypes != np.int).values

In [ ]:
from impute import knn_impute

In [ ]:
target = train_df['GarageFinish'].values

In [ ]:
target_imputed = knn_impute(target, train_knn, 7, aggregation_method="mode")

In [ ]:
target_imputed.head()

In [ ]:
imputer.missing_values_table(train_knn)

In [ ]:
imputer.missing_values_table(train_df[['GarageFinish']])

In [ ]:
target_imputed.columns = ['GarageFinish']
target_imputed.head()

In [ ]:
imputed_df = pd.DataFrame()
imputed_df = pd.concat([imputed_df, target_imputed], axis=1)
imputed_df.head()

In [ ]:
imputer.missing_values_table(target_imputed)

In [ ]:
nas = train_df.isna().sum()
nas_df=pd.DataFrame(nas, columns=['null_count'])

In [ ]:
np.array(nas_df[nas_df.null_count>0].index)

In [ ]:
imputer.missing_values_table(train_df)

In [ ]:
import numbers
is_numeric = [all(isinstance(n, numbers.Number) for n in train_df.iloc[:, i]) for i, x in enumerate(train_df)]

In [ ]:
len(train_df.iloc[:,~np.array(is_numeric)].columns)

In [ ]:
len(train_df.columns)

In [ ]:
from knn_impute import KNNImputation

In [ ]:
from utils import get_columns_with_missing_values, missing_values_table

In [ ]:
missing_values_table(train_df)

In [ ]:
knn_imputer = KNNImputation(k_neighbors=7)

In [ ]:
# train_imputed_df = knn_imputer.fit(train_df)

In [ ]:
# missing_values_table(train_imputed_df)

In [ ]:
numeric_set = {'MoSold', 'OverallCond', 'MiscVal', 'BsmtFinSF2', 'TotRmsAbvGrd', 'GarageArea', 'MSSubClass', 'BsmtFullBath', 'LotFrontage', 'KitchenAbvGr', 'BedroomAbvGr', 'GrLivArea', 'YearRemodAdd', 'BsmtUnfSF', 'WoodDeckSF', 'GarageYrBlt', '3SsnPorch', 'FullBath', 'LotArea', 'EnclosedPorch', 'GarageCars', 'Fireplaces', 'ScreenPorch', 'LowQualFinSF', 'HalfBath', 'YrSold', 'Id', 'OpenPorchSF', 'BsmtFinSF1', '2ndFlrSF', '1stFlrSF', 'PoolArea', 'OverallQual', 'BsmtHalfBath', 'YearBuilt', 'MasVnrArea', 'SalePrice', 'TotalBsmtSF'}
numeric_set.discard('LotFrontage')
numeric_list = list(numeric_set)

In [ ]:
import numbers
X = train_df.copy()
is_numeric = [all(isinstance(n, numbers.Number) for n in X.iloc[:, i]) for i, x in enumerate(X)]
is_all_numeric = sum(is_numeric) == len(is_numeric)
is_all_categorical = sum(is_numeric) == 0
is_mixed_type = not is_all_categorical and not is_all_numeric

In [ ]:
numeric_columns = X.iloc[:, is_numeric].columns
categorical_columns = X.iloc[:, ~np.array(is_numeric)].columns

In [ ]:
numeric_columns

In [ ]:
X_numeric =  X[numeric_columns]
X_numeric.head()

In [ ]:
numeric_columns = ['MiscVal', 'EnclosedPorch', 'ScreenPorch', 'TotalBsmtSF', 'SalePrice', 'OverallCond', 'HalfBath', 'Fireplaces', 'YearRemodAdd', 'YrSold', 'MSSubClass', 'LotFrontage', 'LotArea', '1stFlrSF', 'BsmtFinSF1', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'LowQualFinSF', 'PoolArea', 'BsmtFinSF2', '2ndFlrSF', '3SsnPorch', 'MasVnrArea', 'MoSold', 'FullBath', 'OverallQual', 'GarageArea', 'Id', 'BsmtFullBath', 'BsmtHalfBath', 'WoodDeckSF', 'OpenPorchSF', 'YearBuilt', 'BsmtUnfSF', 'GarageCars', 'GarageYrBlt', 'GrLivArea']

In [ ]:
target_col = 'LotFrontage'
list(set(numeric_columns) - set(target_col))

In [ ]:
numeric_col_set = set(numeric_columns)
numeric_col_set.discard(target_col)
list(numeric_col_set)

In [ ]:
knn_imputer.categorical_columns

In [ ]:
train_imputed_df = knn_imputer.fit(train_df)

In [ ]:
sub_cols

In [ ]:
train_imputed_df = knn_imputer.fit(train_df[sub_cols +['GarageFinish']])

In [ ]:
missing_values_table(train_df[sub_cols +['GarageFinish']])

In [ ]:
missing_values_table(train_imputed_df)

In [ ]:
percent_na = missing_values_table(train_df)
percent_na.columns

In [ ]:
features_greater_than_50_percent_missing = percent_na[(percent_na['% of Total Values'] >30)].index.values

In [ ]:
new_sub_cols = [col for col in train_df.columns if col not in features_greater_than_50_percent_missing]

In [ ]:
print(len(new_sub_cols))
train_imputed_df = knn_imputer.fit(train_df[new_sub_cols])

In [ ]:
missing_values_table(train_imputed_df)

In [ ]:
missing_values_table(train_df[new_sub_cols])

In [ ]:
target_imputed = knn_impute(target, train_df[new_sub_cols], 7, aggregation_method="mode")

In [ ]:
missing_values_table(target_imputed)

In [ ]:
missing_values_table(test_df)

In [ ]:
features_greater_than_40_percent_missing = percent_na[(percent_na['% of Total Values'] >40)].index.values
new_sub_cols = [col for col in train_df.columns if col not in features_greater_than_40_percent_missing]

In [ ]:
missing_values_table(test_df[new_sub_cols])

In [ ]:
test_without_na_df = test_df[new_sub_cols].dropna()

In [ ]:
test_df.head()

In [ ]:
test_without_na_df.shape

In [ ]:
test_outer =test_df[new_sub_cols].merge(test_without_na_df, on='Id', how='outer', suffixes=['','_'], indicator=True )

In [ ]:
test_outer.info()

In [ ]:
test_outer['_merge'].value_counts()

In [ ]:
test_incomplete = test_df[new_sub_cols].merge(test_without_na_df[['Id']], how='left', indicator=True)\
    .query('_merge == "left_only"')
test_incomplete.drop('_merge', 1, inplace=True)

In [ ]:
test_incomplete.index

In [ ]:
test_without_na_df.shape

In [ ]:
test_df.iloc[test_incomplete.index,:].shape

In [ ]:
for _, row in test_df.iterrows():
    type(row)
    break

In [ ]:
type(row)

In [ ]:
target_train = train_df['MSZoning'].values

In [ ]:
target_train[:5]

In [ ]:
target_train.shape

In [ ]:
np.append(target_train, np.array('RH')*3)

In [ ]:
row_df = pd.DataFrame(row).transpose()

In [ ]:
pd.concat([row_df, row_df], axis=0)

In [ ]:
train_df[['MSZoning']].tail(1)

In [ ]:
a = np.empty(3)
a.fill(np.nan)

In [ ]:
a

In [ ]:
b = np.empty(3)
b.fill(4)

In [ ]:
c = np.append(a,b)

In [ ]:
c[3:]